.markycontext {
    margin-top: 60px;
    background-color: cyan;
    padding: 30px;
    overflow: hidden; 
    color: rgb(38, 35, 35);
  }
  
  .markycontext h4 {
    display: inline-block;
    margin-right: 20px; 
    font-size: 25px;
    border-radius: 5px;
  }
  