body {
    margin: 0;
    padding: 0;
    background-color: #14192d;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.topabout{
    background-image: url('../../public/star-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}
.topabout span{
color: aqua;
cursor: pointer;
}
a{
    text-decoration: none;
}
.topabout h1{
    font-size: 50px;
}