.herservices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}

.herservices-child {
    margin-top: 40px;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    
}

.herservices-child img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.read-details {
    color: cyan;
    cursor: pointer;
}

@media (max-width: 768px) {
    .herservices-child {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .herservices-child {
        width: 100%;
    }
}
